@using LMS_Project.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div class="image login-background"></div>

<div class="container theme-light">
    <div class="col-sm-5 col-sm-push-7 col-sm-offset-0 col-xs-10 col-xs-push-0 col-xs-offset-1">
        <div class="col-xs-12 image-wrapper">
            <div class="image logo"></div>
        </div>

        <form class="row col-xs-12" method="post">
            <div class="form-group col-xs-12">
                <div class="input-group">
                    <input type="email" class="form-control input-lg" name="username" id="username" placeholder="Email" />
                    <div class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></div>
                </div>
            </div>

            <div class="form-group col-xs-12">
                <div class="input-group">
                    <input type="password" class="form-control input-lg" name="password" id="password" placeholder="Password" />
                    <div class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></div>
                </div>
            </div>

            <div class="form-group col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <label for="RememberDetails" name="RememberDetailsLabel" id="RememberDetailsLabel" class="no-select">
                            <input type="checkbox" name="RememberDetails" id="RememberDetails" />
                            <span class="custom-checkbox"></span>
                            <span>Remember Me</span>
                        </label>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="login-btn col-xs-11 col-xs-offset-1">
                            <span class="glass"></span>
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            <span>Login</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 text-right">
                <a href="#" class="reset-password">Forgot password?</a>
            </div>
        </form>
    </div>

    <div class="col-sm-1 col-xs-0 hidden-xs">
        <div class="verticalLine"></div>
    </div>

    <div class="col-sm-6 col-sm-pull-6 col-sm-offset-0 col-xs-10 col-xs-push-0 col-xs-offset-1">
        <div class="col-sm-10 col-sm-offset-1 alignVertically">
            <h2>Välkommen till Koop Forum!</h2>
            <h3>Välkommen till Koop Forum!</h3>
            <h4>Välkommen till Koop Forum!</h4>
            <h5>Välkommen till Koop Forum!</h5>
            <h6>Välkommen till Koop Forum!</h6>
            <p>Här kan du få oändlig tillgång till spontana ångest attacker!</p>
            <p>Lärare: "Mina studenter har deadlines varje dag!"</p>
            <p>Student: "Jag har självmordstankar.."</p>
        </div>
    </div>
</div>