@{
    ViewBag.Title = "Home Page";
}

<div class="theme-light" style="height: 80vh;">
    <div class="col-xs-4 prototypeBorder prototypeFullheight">
        <ul>
            <li><a href="#">Profil          </a></li>
            <li><a href="#">Mina Betyg      </a></li>
            <li><a href="#">Inlämningar     </a></li>
            <li><a href="#">Deadlines       </a></li>
            <li><a href="#">Mina Kurser     </a></li>
            <li><a href="#">Sök Kurser      </a></li>
            <li><a href="#">Inställningar   </a></li>
        </ul>
    </div>
    <div class="col-xs-8 prototypeBorder prototypeFullheight">

    </div>
</div>