@{
    ViewBag.Title = "Home Page";
}

<nav class="side-panel col-md-3 col-sm-4 col-xs-9">
    <div class="row">
        <h3 class="col-xs-12 text-center">Navigation menu</h3>

        <ul class="col-xs-12">
            <li class="col-xs-12">
                <a href="#" title="">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Profil</span>
                </a>
            </li>

            <li class="col-xs-12">
                <a href="#" title="">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Mina Kurser</span>
                </a>
            </li>

            <li class="col-xs-12">
                <a href="#" title="">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Kurser</span>
                </a>
            </li>

            <li class="col-xs-12">
                <a href="#" title="">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Inställningar</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="col-md-9 col-sm-8 col-xs-12">
    <div class="row theme-light">
        <!-- Render content in here -->
    </div>
</div>