@{
    ViewBag.Title = "Home Page";
}

<nav class="side-panel col-md-3 col-sm-4 col-xs-9" ng-controller="NavigationController">
    <div class="row">
        <header class="col-xs-12">
            <h2 class="text-center">
                <i class="fa fa-bandcamp give-space-right-x3" aria-hidden="true"></i>
                <span>Float <sup>∞</sup></span>
            </h2>
        </header>

        <h5 class="col-xs-12 close-bottom">Menu</h5>

        <ul class="col-xs-12">
            <li class="col-xs-12">
                <a href="#" title="">
                    <i class="fa fa-user give-space-right center-icon transition" aria-hidden="true"></i>
                    <span>Profile</span>
                </a>
            </li>

            <li class="col-xs-12">
                <a href="#" title="">
                    <i class="fa fa-tasks give-space-right center-icon transition" aria-hidden="true"></i>
                    <span>My courses</span>
                </a>
            </li>

            <li class="col-xs-12">
                <a href="#" title="">
                    <i class="fa fa-calendar give-space-right center-icon transition" aria-hidden="true"></i>
                    <span>Schedule</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="row">
        <h5 class="col-xs-12 close-bottom">Looking for something?</h5>

        <form method="post" action="#" class="col-xs-12">
            <div class="form-group">
                <div class="input-group col-xs-12">
                    <div class="animated-search">
                        <input type="text" class="col-xs-12" name="search" onblur="this.value=''" ng-model="SearchText" />
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row user-profile">
        <div class="image-wrapper-box col-xs-3">
            <div class="image image-fit" style="background-image: url('/Resources/Img/login-background.jpg')"></div>
        </div>

        <div class="image-wrapper-box col-xs-3">
            <div class="table-fill">
                <div class="table-content">
                    <div class="content">
                        <span>TU</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="image-wrapper-box col-xs-3">
            <div class="table-fill">
                <div class="table-content">
                    <div class="content">
                        <i class="fa fa-cogs give-space-right center-icon transition" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="image-wrapper-box col-xs-3">
            <div class="table-fill">
                <div class="table-content">
                    <div class="content">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="col-md-9 col-sm-8 col-xs-12 theme-light">
    <div class="row">
        <!-- Render content in here -->
        <!--    FILE UPLOAD START  -->
        <div ng-controller="UploadController">
            <form method="post" ng-submit="UploadFile(FilesToUpload)">
                <input type="file" id="file" name="file" filereader="FilesToUpload" multiple />
                <button type="submit">Upload</button>
            </form>
        </div>
        <!--    FILE UPLOAD END    -->

        <div ng-controller="DownloadController">
            <img src="/Home/GetUrl?=fileName=ppap.png" />
        </div>

    </div>
    </div>
