@{
    ViewBag.Title = "Home Page";
}

<nav class="side-panel col-md-3 col-sm-4 col-xs-9">
    <div class="row">
        <h3 class="col-xs-12 text-center">Navigation menu</h3>

        <ul class="col-xs-12">
            <li class="col-xs-12">
                <a href="#" title="">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Profil</span>
                </a>
            </li>

            <li class="col-xs-12">
                <a href="#" title="">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Mina Kurser</span>
                </a>
            </li>

            <li class="col-xs-12">
                <a href="#" title="">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Kurser</span>
                </a>
            </li>

            <li class="col-xs-12">
                <a href="#" title="">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Inställningar</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="col-md-9 col-sm-8 col-xs-12">
    <div class="row theme-light">
        <!-- Render content in here -->
        <!--    FILE UPLOAD START  -->
        <div ng-controller="UploadController">
            File:
            <input type="file" ngf-select file-model="picFile" id="file" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile"><br />
            <img ngf-thumbnail="picFile" class="thumb">
            <br />
            <button ng-click="picFile = null" ng-show="picFile">Remove</button><br />
            <button type="button" class="btn btn-primary" ng-click="add()">Upload</button>
        </div>


        


        <!--    FILE UPLOAD END    -->

    </div>
</div>