<div ng-controller="FileController">
    <!-- Render content in here -->
    <!--    FILE UPLOAD START  -->
    <div>
        <form method="post" ng-submit="UploadFile(FilesToUpload)">
            <input type="file" id="file" name="file" filereader="FilesToUpload" multiple />
            <button type="submit">Upload</button>
        </form>
    </div>

    <!--    FILE UPLOAD END    -->
    <div>
        <button ng-click="DisplayImage('ppap.png')" ng-disabled="buttonClicked">Display Image</button>
        <img ng-show="buttonClicked" ng-init="DisplayImage('ppap.png')" ng-src="{{url}}" />
    </div>
</div>