
// Background-colors
$background-overlay-dark: rgba(0, 0, 0, 0.75);
$background-overlay-light: rgba(255, 255, 255, 0.4);
$background-light: #FFFFFF;
$background-dark: #333333;


// Text-colors
$text-color-default: white;
$text-color-light: #EEEEEE;
$text-color-dark: #555555;
$main-color: orange;
$loading-color: #1081F9;

// Header-colors
$header-color-default: white;
$header-color-light: #EEEEEE;
$header-color-dark: #555555;