.alignVertically
{
    margin: auto;
    margin-top: 25%;
}

.no-select
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content-wrapper
{
    min-height: 100vh;
}

.table-wrapper
{
    display: table;
    height: 100vh;

    .table-content
    {
        display: table-cell;
        vertical-align: middle;
    }
}

.side-panel
{
    height: 100vh;
    background: $background-overlay-dark;

    ul
    {
        list-style-type: none;
        padding: 0;

        li
        {
            padding: 0;
            border-top: 1px solid $text-color-dark;

            a
            {
                display: block;
                padding: 10px 20px;
                color: $text-color-light;

                &:hover
                {
                    background: $background-dark;

                    .fa
                    {
                        transform: scale(1.3);
                    }
                }
            }

            &:last-of-type
            {
                border-bottom: 1px solid $text-color-dark;
            }
        }
    }
}