body, html 
{
    height: 100% !important;
    min-height: 100%;
}

.alignVertically
{
    margin: auto;
    margin-top: 25%;
}

.no-select
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content-wrapper
{
    min-height: 100vh;
}

.table-wrapper
{
    display: table;
    height: 100vh;

    .table-content
    {
        display: table-cell;
        vertical-align: middle;
    }
}

.prototypeBorder
{
    border: 5px dotted red;
}

.prototypeFullheight
{
    height: 100%;
}

.side-panel
{
    height: 100vh;
    background: #AAAAAB;

    ul
    {
        list-style-type: none;
        padding: 0;

        li
        {
            padding: 0;
            border-top: 1px solid $text-color-dark;

            a
            {
                display: block;
                padding: 10px 20px;
                color: $text-color-dark;

                &:hover
                {
                    background: magenta;
                }

                .fa
                {
                    color: $main-color;
                    font-size: 20px;
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }

            &:last-of-type
            {
                border-bottom: 1px solid $text-color-dark;
            }
        }
    }
}