/*.verticalLine
{
    border-left: 2px solid white;
    height: 100%;
    min-height: 100%;
}*/

.verticalLine
{
    border-right: 1px solid $text-color-default;
    height: 35em;
    margin: 0 auto;
    width: 0;
    vertical-align: middle;
}